@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-6xl;
    }
    h2 {
      @apply text-xl;
    }
  }

  @font-face {
    font-family: 'Brass Mono';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('BrassMonoRegular'), url(/fonts/BrassMonoRegular.otf) format('otf');
}